.calendar_block {
    height: inherit;
    display: flex;
    flex-direction: column;

}

.month_block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.days_block {
    display: flex;
    overflow: scroll;
    text-align: center;
    height: 4em;
}

.time_block {
    overflow: scroll;
    height: 100%;
    text-align: center;
}