:root {
  --defult-background: #d7d7d729;
  --btn-border-color:rgba(172, 172, 172, 0.741);
}

.layout {
  width: 100vw;
  display: flex;
  height: 100vh;
  background: var(--defult-background);
  flex-direction: column;
}

.header {

  height: fit-content;

}

.content {
  height: 100%;
  overflow: scroll;
}

.footer {

  height: fit-content;

}

.next_btn{
 width: 100%; 
}

.btn{
border: 1px solid var(--btn-border-color);
transition: all 0.1s;

}

.btn:active{
  opacity: 0.7;
  box-shadow: inset 0px 0px 2px 0.2px;

}